---
layout: with-sidebar
description: Blog categories for adam-neale.co.uk
---
{% assign categories = site.categories | sort %}
<h1>Categories</h1>
{% for category in categories %}
    <h3 id="{{ category[0] | slugify }}">{{ category[0] | capitalize }}</h3>
    <ul>
        {% for post in category[1] %}
            <li>
                <a href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                </a>
                <small>{{ post.date | date_to_string }}</small>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
