---
layout: default
title: CV
description: The CV of Adam Neale
order: 2
headline_name: Adam Neale
headline_title: Software Engineer
location: London, UK
email: adam@adam-neale.co.uk
summary: |
    <p>
        Experienced Software Engineer and people leader with strong experience in the financial services industry.
        Passionate about technology, building and leading agile teams, and SOLID, object-oriented development.
        Accomplished with Domain-driven design combined with Behaviour-driven, and Test-driven development.
    </p>
---
<div id="cv">
    {% include cv/headline.html %}
    {% include cv/skills.html %}
    {% include cv/experience.html %}
    {% include cv/education.html %}
    {% include cv/certifications.html %}
</div>
