---
layout: default
title: CV
description: The CV of Adam Neale
order: 2
headline_name: Adam Neale
headline_title: Software Developer
location: London, UK
number: 07905 881965
email: adam@adam-neale.co.uk
summary: |
    <p>
        Experienced Software Engineer with a demonstrated history of working in the financial services industry.
        Passionate about learning new technologies, skilled in SOLID, object-oriented PHP.
        Comfortable using Domain-driven design combined with Behaviour-driven and Test-driven development in order to write testable, readable and maintainable code.
        Strong collaborator used to working in Agile environments.
    </p>
---
<div id="cv">
    {% include cv/headline.html %}
    {% include cv/skills.html %}
    {% include cv/experience.html %}
    {% include cv/education.html %}
    {% include cv/certifications.html %}
</div>
