---
layout: default
title: CV
description: The CV of Adam Neale
order: 2
headline_name: Adam Neale
headline_title: Software Engineer
location: London, UK
email: adam@adam-neale.co.uk
summary: |
    <p>
        Experienced Software Engineer and Team Lead with a demonstrated history in the financial services industry.
        Passionate about learning new technologies, skilled in SOLID, object-oriented development.
        Accomplished using Domain-driven design combined with Behaviour-driven and Test-driven development in order to write testable, readable and maintainable code.
        Strong collaborator used to working and leading teams in Agile environments.
    </p>
---
<div id="cv">
    {% include cv/headline.html %}
    {% include cv/skills.html %}
    {% include cv/experience.html %}
    {% include cv/education.html %}
    {% include cv/certifications.html %}
</div>
