---
layout: with-sidebar
description: Blog tags for the website
---
{% assign tags = site.tags | sort %}
<h1>Tags</h1>
{% for tag in tags %}
    <h3 id="{{ tag[0] | slugify }}">{{ tag[0] | capitalize | replace: '-', ' ' }}</h3>
    <ul>
        {% for post in tag[1] %}
            <li>
                <a href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                </a>
                <small>{{ post.date | date_to_string }}</small>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
