<header class="site-header" role="banner">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="navbar-brand site-branding">
                    <h1 class="site-title">
                        <a href="{{ full_base_url }}/">{{ site.title | escape }}</a>
                    </h1>
                </div>
            </div>
        </div><!-- /.container -->
    </nav>
</header>