body {
    font-family: $font-family-base;
}

pre, .well {
    border-color: #e8e8e8;
    border-radius: 0;
    word-wrap: normal;
}

pre {
    border-left-width: 1em;
}

.post-meta {
    font-weight: bold;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }

article {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 30px;
    }
}
