body {
    font-family: $font-family-base;
}

pre, .well {
    background: $gray-lightest;
    border-color: $gray-lighter;
    border-radius: 0;
    word-wrap: normal;
}

pre {
    border-left-width: 1em;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }

article, aside {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 30px;
    }
}

i {
    color: $gray-dark;
    width: 20px;
}

img {
    max-width: 100%;
}
