body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 50px;
}

.page-content {
    flex: 1;
    max-width: 100%;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

@import 'layout/header';
@import 'layout/footer';
@import 'layout/cv';
