body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 50px;
}

.page-content {
    flex: 1;
    max-width: 100%;
}

.mb-10 {
    margin-bottom: 10px;
}

@media print, (min-width: 768px) {
    .pull-left-sm { float: left; }
    .pull-right-sm { float: right; }

    .text-left-sm { text-align: left; }

    .mb-sm-0 { margin-bottom: 0; }

    .absolute-sm { position: absolute; }
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media print {
    .no-print { display: none; }
}

ul.categories {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        padding: 0 2px;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

@import 'layout/header';
@import 'layout/footer';
@import 'layout/post';
@import 'layout/cv';
