body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 50px;
}

.page-content {
    flex: 1;
    max-width: 100%;
}

.mb-10 {
    margin-bottom: 10px;
}

@media print, (min-width: 768px) {
    .pull-left-sm { float: left; }
    .pull-right-sm { float: right; }

    .text-left-sm { text-align: left; }

    .mb-sm-0 { margin-bottom: 0; }

    .absolute-sm { position: absolute; }
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media print {
    .no-print { display: none; }
}

@import 'layout/header';
@import 'layout/footer';
@import 'layout/cv';
