// Fonts
$font-family-base: 'Open Sans', sans-serif;

// Colors
$brand-primary:          #006699;
$brand-primary-dark:     #005682;
$brand-copy: #ffffff;

$gray-light: #d9d9d9;
$gray-lighter: #eeeeee;

// Inputs
$input-border-radius: 0;

// Padding
$padding-base-horizontal: 11px;

// Type
$font-size-h1: 30px;
$font-size-h2: 24px;
$font-size-h3: 20px;
