{% if site.data.cv.education %}
    <section id="education" class="cv-section">
        <h3>Education</h3>
        <ul>
            {% for education in site.data.cv.education %}
                <li class="history-item">
                    <ul>
                        <li class="clearfix mb-10">
                            <h4 class="pull-left-sm">
                                <strong>{{ education.title }}</strong>
                                {{ education.establishment }}
                            </h4>
                            <div class="pull-right-sm">
                                {{ education.start_date }} &mdash; {{ education.end_date }}
                            </div>
                        </li>
                        {% if education.summary %}
                            <li>{{ education.summary }}</li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
