{% if site.data.cv.experience %}
    <section id="experience" class="cv-section">
        <h3>Work History</h3>
        <ul>
            {% for experience in site.data.cv.experience %}
                <li class="history-item">
                    <ul>
                        <li>
                            <h4>{{ experience.company }}</h4>
                        </li>
                        {% for position in experience.position %}
                            <li class="clearfix mb-10">
                                <div><strong>{{ position.title }}</strong></div>
                                <div>{{ position.start_date }} &mdash; {{ position.end_date }}</div>
                            </li>
                        {% endfor %}
                        {% if experience.summary %}
                            <li>{{ experience.summary }}</li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
