<div id="headline">
    <div class="no-print absolute-sm mb-10">
        <a href="javascript:window.print();">
            <i class="fa fa-print"></i>Print
        </a>
    </div>
    {% if site.github_username %}
        <div class="avatar text-center mb-10 no-print">
            <div class="circle">
                {% avatar {{ site.github_username }} size=116 %}
            </div>
        </div>
    {% endif %}
    <div class="clearfix">
        <div class="name  text-center pull-left-sm text-left-sm">
            <h1>{{ page.headline_name }}</h1>
            <h2>{{ page.headline_title }}</h2>
        </div>
        <ul class="contact text-center pull-right-sm text-left-sm">
            {% if page.location %}
                <li>
                    <i class="fa fa-map-marker"></i>{{ page.location }}
                </li>
            {% endif %}
            {% if page.number %}
                <li>
                    <i class="fa fa-phone"></i><span>{{ page.number }}
                </li>
            {% endif %}
            {% if page.email %}
                <li>
                    <i class="fa fa-envelope"></i><a href="mailto:{{ page.email }}">{{ page.email }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% if page.summary %}
        <div class="summary">
            {{ page.summary }}
        </div>
    {% endif %}
</div>
